<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Downloader</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>-----------Video Downloader------------</h1>
        <form id="download-form">
            <label for="url">Video URL:</label>
            <input type="text" id="url" name="url" required>
            <label for="format">Format:</label>
            <select id="format" name="format">
                <option value="video">Video</option>
                <option value="mp3">MP3</option>
            </select>
            <button type="submit">Download</button>
        </form>
        <div id="message"></div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
